<h1 class="title">Articles</h1>

<div>
  <% @articles.each do |article| %>
    <a href="<%= article_path(article) %>">
      <div id="article">
        <h4><%= article.title %></h4>
        <p><%= article.subtitle %></p>
        <p><%= article.body %></p>
      </div>
    </a>
  <% end %>
</div>
<div><%= link_to "New Article", new_article_path %></div>
